@model IEnumerable<KPaTS.Models.SubjectModel>

@{
    ViewBag.Title = "Index";
}

<div class="mdl-grid mdl-color--primary mdl-color-text--white">
    <div class="mdl-layout-spacer"></div>
    <div class="mdl-cell--8-col">
        <h2>Subjects</h2>
        <h6>Administration section</h6>
    </div>
    <div class="mdl-layout-spacer"></div>
</div>

<div class="mdl-grid">
    <div class="mdl-layout-spacer"></div>
    <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp mdl-cell--8-col admin-table">
        <thead>
            <tr>
                <th class="mdl-data-table__cell--non-numeric">@Html.DisplayNameFor(model => model.Shortcut)</th>
                <th class="mdl-data-table__cell--non-numeric">@Html.DisplayNameFor(model => model.Name)</th>
                <th>
                    <a id="add-subject" href="@Url.Action("Create", "Subject")" class="right-fab mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored">
                        <i class="material-icons">add</i>
                    </a>
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td class="mdl-data-table__cell--non-numeric">
                        @Html.DisplayFor(modelItem => item.Shortcut)
                    </td>
                    <td class="mdl-data-table__cell--non-numeric">
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td class="mdl-data-table__cell--buttons">
                        <a href="@Url.Action("Edit", "Subject", new { id = item.Id })" class="mdl-button mdl-js-button mdl-button--icon ajax-action">
                            <i class="material-icons">edit</i>
                        </a>
                        <a href="@Url.Action("Details", "Subject", new { id = item.Id })" class="mdl-button mdl-js-button mdl-button--icon ajax-action">
                            <i class="material-icons">search</i>
                        </a>
                        <a href="@Url.Action("Delete", "Subject", new { id = item.Id })" class="mdl-button mdl-js-button mdl-button--icon ajax-action">
                            <i class="material-icons">delete</i>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <div class="mdl-layout-spacer"></div>
</div>
