@model KPaTS.Models.TestModel

@{
    ViewBag.Title = "Создание теста";
    ViewBag.PageId = KPaTS.Core.PageID.PAGE_TEST_CREATE;
}

@using (Html.BeginForm("Create", "Test", FormMethod.Post, new { id = "test-create", @class = "mdl-color--primary" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
<div class="mdl-grid test-data">
    <div class="mdl-layout-spacer"></div>
    <section class="mdl-color--white mdl-cell mdl-cell--4-col card-padding mdl-cell--top mdl-shadow--2dp">
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            @Html.LabelFor(model => model.Name, new { @class = "mdl-textfield__label" })
            @Html.TextBoxFor(model => model.Name, new { @class = "mdl-textfield__input" })
            @Html.ValidationMessageFor(model => model.Name)
        </div>
        <br />
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            @Html.LabelFor(model => model.Description, new { @class = "mdl-textfield__label" })
            @Html.TextBoxFor(model => model.Description, new { @class = "mdl-textfield__input" })
            @Html.ValidationMessageFor(model => model.Description)
        </div>
        <br />
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            @Html.LabelFor(model => model.Shortcut, new { @class = "mdl-textfield__label" })
            @Html.TextBoxFor(model => model.Shortcut, new { @class = "mdl-textfield__input" })
            @Html.ValidationMessageFor(model => model.Shortcut)
        </div>

        <div class="mdl-selectfield editor-field">
            @Html.DropDownList("Space[Id]", KPaTS.Core.ViewHelper.GetSpacesList())
        </div>
        <div id="subject" style="display: none">
            <div class="mdl-selectfield">
                @Html.DropDownList("Subject[Id]", new SelectList(new List<SelectListItem>()))
            </div>
        </div>
    </section>
    <section class="mdl-cell mdl-cell--4-col test-preview">
        @Html.Partial("~/Views/Test/_TestCardPartialView.cshtml", new KPaTS.Models.TestInfoModel())
        @Html.Partial("~/Views/Test/_TestAutocompletePartial.cshtml", new KPaTS.Models.TestInfoModel())
    </section>
    <div class="mdl-layout-spacer"></div>
    <div id="test-fab" class="right-fab mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored">
        <i class="material-icons">add</i>
    </div>
</div>
<div class="mdl-grid mdl-color--white">
    <section class="mdl-cell mdl-cell--2-col">
    </section>
    <section class="mdl-color--white mdl-cell mdl-cell--8-col card-padding">
        <h5>@Html.LabelFor(model => model.Questions)</h5>
        <div class ="questions mdl-grid"></div>
        @Html.DropDownList("QuestionType", EnumHelper.GetSelectList(typeof(KPaTS.Models.QuestionType)))
        <input class="mdl-button mdl-js-button mdl-js-ripple-effect"type ="button" value="Add question" onClick="addQuestion()"/>
    </section>
</div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $("#Shortcut").keyup(function () {
            $(".mdl-card__title-text").text("#" + $("#Shortcut").val());
        });

        $("#Description").keyup(function () {
            $(".mdl-card__supporting-text").text($("#Description").val());
        });

        $("#Space_Id_").change(function () {
            if ($("#Space_Id_").val() != 0) {
                $(".test-card .mdl-card__subtitle-text").show()
                $(".autocomplete-card .mdl-card__subtitle-text").show()
            }
            else {
                $(".test-card .mdl-card__subtitle-text").hide()
                $(".autocomplete-card .mdl-card__subtitle-text").hide()
            }

            $(".mdl-card__subtitle-text").text("@@" + $("#Space_Id_ option:selected").text().toUpperCase());
        });

        var currentQuestions = 0;

        function addQuestion() {
            $.get("/Test/GetQuestionView", { number: currentQuestions++, type: $("#QuestionType option:selected").val() }, function (data) {
                $(".questions").append(data);
                $(".question.displayNone").slideDown();
                componentHandler.upgradeAllRegistered();
            })
        }

        function addAnswer(num, type) {
            $.get("/Test/GetAnswerView", { number: num, type: type, count: $("#answers" + num).children().size() }, function (data) {
                $("#answers" + num).append(data);
                componentHandler.upgradeAllRegistered();
            })
        }

        $(document).ready(function () {
            $("#Space_Id_").on("change", function (data) {
                $.get("/Api/GetSpaceSubjects", { id: $("#Space_Id_ option:selected").val() }, function (data) {
                    $.each(data, function (i, item) {
                        $('#Subject_Id_').append($('<option>', {
                            value: item.Id,
                            text: item.Shortcut
                        }));
                    });
                    $('#subject').show();
                    $('.test-card').addClass("decorated math");
                })
            });

            /*$("#Shortcut").on("change", function (data) {
                $.get("/Api/CheckTestShortcut", { shortcut: $("#Shortcut").val() }, function (data) {
                    if (data.result == 0)
                        $("#Shortcut").parent().addClass("is-invalid");
                    else
                        $("#Shortcut").parent().removeClass("is-invalid");
                })
            });*/

            $("#test-fab").on("click", function () {
                $("#test-create").submit();
            });
        });

        $(".mdl-layout__content").scroll(function () {
            if (!isScrolledIntoView($(".test-data")) && !$("#test-fab").hasClass("header")) {
                $("#test-fab").addClass("transition");
                setTimeout(function () {
                    $("#test-fab").appendTo($(".mdl-layout__header-row")).addClass("header");
                    setTimeout(function () {
                        $("#test-fab").removeClass("transition");
                    }, 200);
                }, 200);
            }
            else if (isScrolledIntoView($(".test-data")) && $("#test-fab").hasClass("header")) {
                $("#test-fab").addClass("transition");
                setTimeout(function () {
                    $("#test-fab").appendTo($(".test-data")).removeClass("header");
                    setTimeout(function () {
                        $("#test-fab").removeClass("transition");
                    }, 200);
                }, 200);
            }
        });
</script>
}
