@model KPaTS.Models.TestModel

@{
    ViewBag.Title = "Создание теста";
    ViewBag.PageId = KPaTS.Core.PageID.PAGE_TEST_CREATE;
}

@using (Html.BeginForm("Create", "Test", FormMethod.Post, new { id = "test-create"}))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
<div class="mdl-grid test-data mdl-color--primary">
    <div class="mdl-layout-spacer"></div>
    <section class="mdl-color--white mdl-cell mdl-cell--4-col card-padding mdl-cell--top mdl-shadow--2dp">
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            @Html.LabelFor(model => model.Name, new { @class = "mdl-textfield__label" })
            @Html.TextBoxFor(model => model.Name, new { @class = "mdl-textfield__input" })
            @Html.ValidationMessageFor(model => model.Name)
        </div>
        <br />
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            @Html.LabelFor(model => model.Description, new { @class = "mdl-textfield__label" })
            @Html.TextBoxFor(model => model.Description, new { @class = "mdl-textfield__input" })
            @Html.ValidationMessageFor(model => model.Description)
        </div>
        <br />
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            @Html.LabelFor(model => model.Shortcut, new { @class = "mdl-textfield__label" })
            @Html.TextBoxFor(model => model.Shortcut, new { @class = "mdl-textfield__input" })
            @Html.ValidationMessageFor(model => model.Shortcut)
        </div>

        <div class="mdl-selectfield">
            @Html.DropDownList("Space[Id]", KPaTS.Core.ViewHelper.GetSpacesList())
        </div>
        <div class="mdl-selectfield" id="subject" style="display: none">
            @Html.DropDownList("Subject[Id]", new SelectList(new List<SelectListItem>()))
        </div>
    </section>
    <section class="mdl-cell mdl-cell--4-col test-preview">
        @Html.Partial("~/Views/Test/_TestCardPartialView.cshtml", new KPaTS.Models.TestInfoModel())
        <ul class="results results-preview mdl-color--white mdl-shadow--2dp">
            <li class="results-item dummy">
                <a>#prevTest</a>
            </li>
            @Html.Partial("~/Views/Test/_TestAutocompletePartial.cshtml", new KPaTS.Models.TestInfoModel())
            <li class="results-item dummy">
                <a>#postTest</a>
            </li>
            <div class="overlay"></div>
        </ul>
    </section>
    <div class="mdl-layout-spacer"></div>
    <div id="test-fab" class="right-fab mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored">
        <i class="material-icons">add</i>
    </div>
</div>
<div class="mdl-grid">
    <div class="mdl-layout-spacer"></div>
    <section class="mdl-cell mdl-cell--8-col card-padding">
        <div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">
            <div class="mdl-tabs__tab-bar">
                <a href="#questions-panel" class="mdl-tabs__tab is-active">Questions</a>
                <a href="#theory-panel" class="mdl-tabs__tab">Theory</a>
            </div>
            <div class="mdl-tabs__panel is-active" id="questions-panel">
                <div class="questions mdl-grid"></div>
                <div class="mdl-selectfield">
                    @Html.DropDownList("QuestionType", EnumHelper.GetSelectList(typeof(KPaTS.Models.QuestionType)))
                </div>
                <input class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--colored" type="button" value="Add question" onclick="addQuestion()" />
            </div>
            <div class="mdl-tabs__panel" id="theory-panel">
                <h5>Select existing one</h5>
                <div class="search-card-container">
                    <div id="theory-selection" class="card-padding search-card">
                        <div id="theory-search-input" class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-textfield--floating-icon">
                            <label class="floating-icon" for="theory-search">
                                <i class="material-icons">search</i>
                            </label>
                            <input class="mdl-textfield__input" type="text" id="theory-search" name="theory-search" />
                            <label class="mdl-textfield__label" for="theory-search">Search theory...</label>
                        </div>
                        <ul id="search-results" class="results">
                        </ul>
                    </div>
                </div>
                <h4 class="mdl-typography--text-center">OR</h4>
                <h5>Write new information</h5>
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <input class="mdl-textfield__input" type="text" name="Infos[0].Name" />
                    <label class="mdl-textfield__label" for="Infos[0].Name">Title</label>
                </div>
                <div class="mdl-textfield mdl-js-textfield">
                    <textarea class="mdl-textfield__input" rows="3" name="Infos[0].Body" id="theory-editor"></textarea>
                </div>
            </div>
        </div>
    </section>
    <div class="mdl-layout-spacer"></div>
</div>
}

@section Scripts {
    <script src="~/Scripts/redactor/redactor.js"></script>
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $("#theory-search").keyup(function () {
            $.get("/Api/SearchInfo", { query: $(this).val() }, function (data) {
                $("#search-results").html(data)
            })
        })

        var theoryEntriesCount = 1; // 0 is a basic one from textarea

        $(".search-card").on("click", ".add-theory", function () {
            var newTheoryIndex = theoryEntriesCount++;
            $("#theory-selection").append($('<input type="hidden" name="Infos[' + newTheoryIndex + '].Id" value="' + $(this).parents(".expandable").data("entry-id") + '" />'))
        });

        $("#Shortcut").keyup(function () {
            $(".mdl-card__title-text").text("#" + $("#Shortcut").val());
            $(".suggest-item:not(.dummy) .shortcut").text("#" + $("#Shortcut").val());
        });

        $("#Description").keyup(function () {
            $(".mdl-card__supporting-text").text($("#Description").val());
        });

        $("#Space_Id_").change(function () {
            if ($("#Space_Id_").val() != 0) {
                $(".test-card .mdl-card__subtitle-text").show()
                $(".suggest-item:not(.dummy) .space").show()
            }
            else {
                $(".test-card .mdl-card__subtitle-text").hide()
                $(".suggest-item:not(.dummy) .space").hide()
            }

            $(".suggest-item:not(.dummy) .space").text("@@" + $("#Space_Id_ option:selected").text().toUpperCase());
        });

        $("#theory-editor").redactor();

        var questions = [];

        function addQuestion() {
            var id = questions.length;
            var type = $("#QuestionType option:selected").val();
            $.get("/Test/GetQuestionView", {
                questionId: id,
                type: type
            }, function (data) {
                $(".questions").append(data);
                $(".question.displayNone").fadeIn();
                componentHandler.upgradeAllRegistered();

                var question = $(".questions").find("[data-question-id='" + id + "']");
                $(question).find(".body TEXTAREA").redactor();
                questions.push(question);

                addAnswer(id, type)
            })
        }

        function addAnswer(questionId) {
            var questionType = $(questions[questionId]).data("question-type");
            var newAnswerId = $(questions[questionId]).find(".answers").children().size()
            $.get("/Test/GetAnswerView", {
                questionId: questionId,
                type: questionType,
                answerId: newAnswerId
            }, function (data) {
                $(questions[questionId]).find(".answers").append(data);
                $(".answer.displayNone").fadeIn(300);
                $(questions[questionId]).find("[data-answer-id='" + newAnswerId + "'] .mdl-textfield__input").rules("add", {
                    required: true
                });
                componentHandler.upgradeAllRegistered();
            })
        }

        function addAnswerIfNeeded(questionId, answerId) {
            var emptyInputsCount = $(questions[questionId]).find(".answer:not([data-answer-id='" + answerId + "']) .mdl-textfield__input").filter(function () { return $(this).val() == ""; }).size();
            if (emptyInputsCount == 0)
                addAnswer(questionId)
        }

        function removeAnswerIfNeeded(questionId, answerId) {
            var emptyInputsCount = $(questions[questionId]).find(".answers .mdl-textfield__input").filter(function () { return $(this).val() == ""; }).size();
            if (emptyInputsCount != 0 && !(emptyInputsCount == 1 && $(questions[questionId]).find("[data-answer-id='" + answerId + "'] .mdl-textfield__input").val() == ""))
                $(questions[questionId]).find(".answers").children().last().fadeOut(300, function() {$(this).remove()})
        }

        $(document).ready(function () {
            $("#Space_Id_").on("change", function (data) {
                $.get("/Api/GetSpaceSubjects", {
                    id: $("#Space_Id_ option:selected").val()
                }, function (data) {
                    $.each(data, function (i, item) {
                        $('#Subject_Id_').append($('<option>', {
                            value: item.Id,
                            text: item.Shortcut
                        }));
                    });
                    $('#subject').show();
                    $('.test-card').addClass("decorated math");
                })
            });

            $(".questions").on("keypress", ".answer INPUT", function () {
                var questionId = $(this).parents(".question").data("question-id");
                var answerId = $(this).parents(".answer").data("answer-id");
                addAnswerIfNeeded(questionId, answerId)
            });

            $(".questions").on("keyup", ".answer INPUT", function () {
                var questionId = $(this).parents(".question").data("question-id");
                var answerId = $(this).parents(".answer").data("answer-id");
                if (!$(this).val()) {
                    removeAnswerIfNeeded(questionId, answerId)
                }
            });

            /*$("#Shortcut").on("change", function (data) {
                $.get("/Api/CheckTestShortcut", { shortcut: $("#Shortcut").val() }, function (data) {
                    if (data.result == 0)
                        $("#Shortcut").parent().addClass("is-invalid");
                    else
                        $("#Shortcut").parent().removeClass("is-invalid");
                })
            });*/

            $("#test-fab").on("click", function () {
                $(".answers .mdl-textfield__input").filter(function () { return $(this).val() == "" }).parents(".answer:last-child").remove()
                $("#test-create").submit();
            });
        });
        registerScrollTransformation($(".mdl-layout__content"), $(".test-data"), $("#test-fab"), $(".test-data"), $(".mdl-layout__header-row"));

        $("body").on("click", ".mdl-radio", function () {
            $(this).parent().parent().parent().find(".mdl-radio").removeClass("is-checked");
            $(this).addClass("is-checked");
            $(this).parent().parent().parent().find("input[type='radio']").val("false");
            $(this).find("input[type='radio']").val("true");
        });
</script>
}
