@model KPaTS.Models.TestModel

@{
    ViewBag.Title = "Test";
}

<div class="mdl-grid test-data info mdl-color--primary">
    <div class="mdl-layout-spacer"></div>
    <section class="card-side mdl-color--white mdl-cell mdl-cell--8-col card-relative card-padding mdl-cell--top mdl-shadow--2dp">
        <div class="body">
            <aside>
                <i class="material-icons">account_circle</i>
                <p>Created by <b>@Model.Creator.UserName</b></p>
            </aside>
            <div class="content">
                <div class="test-title"><h4>@Model.Name<span class="space">@@@Model.Space.Shortcut</span></h4></div>
                <div class="mdl-card__supporting-text">
                    @Model.Description
                </div>
                <a id="test-fab" href="/Test/Pass?Id=@Model.Id" class="right-fab mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored">
                    <i class="material-icons">send</i>
                </a>
            </div>
        </div>
        <div class="card-footer">
            <span class="author">Total attempts: <b>@Model.Stats.Count</b></span>
            <span class="author">Successfull attempts: <b>@Model.Stats.Count</b></span>
            <span class="author">Rating: <b>@Model.Rating</b></span>
        </div>
    </section>
    <div class="mdl-layout-spacer"></div>
</div>

<div class="mdl-grid">
    <div class="mdl-layout-spacer"></div>
    <section class="mdl-cell--8-col test-theory">
        @foreach(var info in Model.Infos)
        {
            <h3>@info.Name</h3>
            @Html.Raw(info.StrippedBody)
        }
    </section>
    <div class="mdl-layout-spacer"></div>
</div>

@section Scripts {
    <script>
        registerScrollTransformation($(".mdl-layout__content"), $(".content"), $("#test-fab"), $(".content"), $(".mdl-layout__header-row"));
    </script>
}