@model KPaTS.Models.TestModel

@{
    ViewBag.Title = @Model.Name;
}

@using (Html.BeginForm("Pass", "Test", FormMethod.Post, new { id = "test-create" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    
    var questions = Model.Questions.ToList();
    for (int i = 0; i < questions.Count; i++ )
    {
        var dic = new ViewDataDictionary();
        dic.Add("count", i);
        @Html.Partial("_QuestionPartialView", questions[i], dic)    
    }
}

<div id="test-fab" class="right-fab mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored">
    <i class="material-icons">send</i>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
            $("#test-fab").on("click", function () {
                $("#test-create").submit();
            });
    </script>
}