@model KPaTS.Models.LocalPasswordModel

@using (Html.BeginForm("Manage", "Account")) {
    @Html.AntiForgeryToken()

    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        @Html.LabelFor(m => m.OldPassword, new { @class = "mdl-textfield__label"})
        @Html.TextBoxFor(m => m.OldPassword, new { @class = "mdl-textfield__input" })
        @Html.ValidationMessageFor(m => m.OldPassword)
    </div>
    <br />
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        @Html.LabelFor(m => m.NewPassword, new { @class = "mdl-textfield__label"})
        @Html.TextBoxFor(m => m.NewPassword, new { @class = "mdl-textfield__input" })
        @Html.ValidationMessageFor(m => m.NewPassword)
    </div>
    <br />
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "mdl-textfield__label" })
        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "mdl-textfield__input" })
        @Html.ValidationMessageFor(m => m.ConfirmPassword)
    </div>
    <br />
    <input type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-color--accent" value="Смена пароля" />
}
