@model KPaTS.Models.LoginModel

@{
    ViewBag.Title = "Авторизация";
    ViewBag.PageId = KPaTS.Core.PageID.PAGE_AUTH;
}

<div class="mdl-grid">
<section id="loginForm" class="mdl-color--white mdl-cell mdl-cell--8-col card-padding">
@using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl })) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            @Html.LabelFor(m => m.UserName, new { @class = "mdl-textfield__label" })
            @Html.TextBoxFor(m => m.UserName, new { @class = "mdl-textfield__input" })
            @Html.ValidationMessageFor(m => m.UserName)
        </div>
        <br />
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            @Html.LabelFor(m => m.Password, new { @class = "mdl-textfield__label" })
            @Html.PasswordFor(m => m.Password, new { @class = "mdl-textfield__input" })
            @Html.ValidationMessageFor(m => m.Password)
        </div>
        <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="rememberme-checkbox">
            @Html.CheckBoxFor(m => m.RememberMe, new { id = "rememberme-checkbox", @class = "mdl-checkbox__input" })
            @Html.LabelFor(m => m.RememberMe, new { @class = "checkbox" })
        </label>
        <br/>
        <br/>
        <br/>
        <input type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" value="Выполнить вход" />
        @Html.ActionLink("Регистрация", "Register", null, new { @class="mdl-button mdl-js-button mdl-js-ripple-effect" })
}
</section>

<section class="social mdl-shadow--2dp mdl-color--white mdl-cell mdl-cell--4-col mdl-cell--top card-padding" id="socialLoginForm">
    @Html.Action("ExternalLoginsList", new { ReturnUrl = ViewBag.ReturnUrl })
</section>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
