@model KPaTS.Models.RegisterModel
@{
    ViewBag.Title = "Регистрация";
    ViewBag.PageId = KPaTS.Core.PageID.PAGE_AUTH;
}

<div class="mdl-grid">
<section class="mdl-color--white mdl-cell mdl-cell--8-col card-padding">
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        @Html.LabelFor(m => m.UserName, new { @class = "mdl-textfield__label"})
        @Html.TextBoxFor(m => m.UserName, new { @class = "mdl-textfield__input" })
    </div>
    <br />
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        @Html.LabelFor(m => m.Password, new { @class = "mdl-textfield__label" })
        @Html.PasswordFor(m => m.Password, new { @class = "mdl-textfield__input" })
    </div>
    <br />
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "mdl-textfield__label" })
        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "mdl-textfield__input" })
    </div>
    <br />
    <input type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" value="Регистрация" />
}
</section>

<section class="social mdl-shadow--2dp mdl-color--white mdl-cell mdl-cell--4-col mdl-cell--top card-padding" id="socialLoginForm">
    @Html.Action("ExternalLoginsList", new { ReturnUrl = ViewBag.ReturnUrl })
</section>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
