@model KPaTS.Models.RegisterModel
@{
    ViewBag.Title = "Регистрация";
}

<section id="loginForm" class="mdl-color--white mdl-cell mdl-cell--8-col card-padding">
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        @Html.LabelFor(m => m.UserName, new { @class = "mdl-textfield__label" })
        @Html.TextBoxFor(m => m.UserName, new { @class = "mdl-textfield__input" })
    </div>
    <br />
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        @Html.LabelFor(m => m.Password, new { @class = "mdl-textfield__label" })
        @Html.PasswordFor(m => m.Password, new { @class = "mdl-textfield__input" })
    </div>
    <br />
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "mdl-textfield__label" })
        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "mdl-textfield__input" })
    </div>
    <br />
    <input type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-color--accent" value="Регистрация" />
}
</section>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
