<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <title>@ViewBag.Title — приложение ASP.NET MVC</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700" type="text/css">
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
    </head>
    <body class="main @(ViewBag.PageId == KPaTS.Core.PageID.PAGE_INDEX ? "index" : "")">
        <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
            <header class="mdl-layout__header @(ViewBag.PageId == KPaTS.Core.PageID.PAGE_INDEX ? "mdl-layout__header--transparent" : "")">
                <div class="mdl-layout__header-row">
                    <span class="mdl-layout-title">@ViewBag.Title</span>
                    <div class="mdl-layout-spacer"></div>
                    <nav class="mdl-navigation mdl-layout--large-screen-only">
                        @if (ViewBag.PageId != KPaTS.Core.PageID.PAGE_AUTH)
                        {
                            if (!Request.IsAuthenticated)
                            {
                                @Html.ActionLink("Авторизация", "Login", "Account", null, new { @class="mdl-navigation__link" })
                                @Html.ActionLink("Регистрация", "Register", "Account", null, new { @class="mdl-navigation__link" })
                            }
                        }
                    </nav>
                </div>
            </header>
            <div class="mdl-layout__drawer">
                @if (Request.IsAuthenticated)
                {
                    <div class="drawer-header">
                        @Html.ActionLink("Hi, " + User.Identity.Name, "Manage", "Account", null, new { @class="mdl-color-text--primary-dark"})
                        @using (Html.BeginForm("LogOff", "Account"))
                        {
                            @Html.AntiForgeryToken()
                            <input type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" value="Logout"/>
                        }
                    </div>
                }
                else
                {
                    <span class="mdl-layout-title">Title</span>
                }
                <nav class="mdl-navigation">
                    <a class="mdl-navigation__link" href="/">Home</a>
                    <a class="mdl-navigation__link" href="">Link</a>
                    <a class="mdl-navigation__link" href="">Link</a>
                    <a class="mdl-navigation__link" href="">Link</a>
                </nav>
            </div>
            <main class="mdl-layout__content">
                <div class="page-content">
                    @RenderBody()
                </div>
            </main>
        </div>

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/mdl")
        @RenderSection("scripts", required: false)
    </body>
</html>
