<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <title>@ViewBag.Title — приложение ASP.NET MVC</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700" type="text/css">
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
    </head>
    <body class="main @(ViewBag.PageId == KPaTS.Core.PageID.PAGE_INDEX ? "index" : "") mdl-color--optic-white">
        <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
            <header class="mdl-layout__header mdl-layout__header--waterfall @(ViewBag.PageId == KPaTS.Core.PageID.PAGE_INDEX ? "mdl-layout__header--transparent mdl-layout__header--seamed" : "")">
                @if (ViewBag.PageId != KPaTS.Core.PageID.PAGE_INDEX)
                {
                    @:<a href="../" class="mdl-layout__drawer-button"><i class="material-icons">arrow_back</i></a>
                }
                <div class="mdl-layout__header-row">
                    <span class="mdl-layout-title mdl-layout--large-screen-only">@Html.Raw(ViewBag.PageId != KPaTS.Core.PageID.PAGE_INDEX ? ViewBag.Title : "<span>Project <b>#ash</b></span>")</span>
                    <div class="mdl-layout-spacer mdl-layout--large-screen-only"></div>
                    <div id="header-search-container"></div>
                    <div class="mdl-layout-spacer mdl-layout--large-screen-only"></div>
                    <button type="button" class="mdl-button mdl-js-button mdl-button--icon mdl-layout--small-screen-only open-search"><i class="material-icons">search</i></button>
                    @if (ViewBag.PageId != KPaTS.Core.PageID.PAGE_AUTH)
                    {
                            if (!Request.IsAuthenticated)
                            {
                                <div class="mdl-navigation">
                                    @Html.ActionLink("Войти", "Login", "Account", null, new { @class="mdl-navigation__link" })
                                </div>
                            }
                    }
                </div>
            </header>
            <div class="mdl-layout__drawer">
                @if (Request.IsAuthenticated)
                {
                    <div class="drawer-header">
                        @using (Html.BeginForm("LogOff", "Account"))
                        {
                            @Html.AntiForgeryToken()
                            <input type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored" value="Logout"/>
                        }
                        <div class="profile mdl-color-text--deep-orange-A200">
                            <i class="material-icons">account_circle</i>
                            <p class="mdl-typography--body-2">Hi, <b>@Html.ActionLink(User.Identity.Name, "Manage", "Account", null, new { @class = "mdl-color-text--accent" })</b></p>
                        </div>
                    </div>
                }
                else
                {
                    <span class="mdl-layout-title">Title</span>
                }
                <nav class="mdl-navigation">
                    <a class="mdl-navigation__link" href="/">Home</a>
                    <a class="mdl-navigation__link" href="/Admin">Admin section</a>
                    <a class="mdl-navigation__link" href="/Test/Create">Create test</a>
                </nav>
            </div>
            <main class="mdl-layout__content">
                <div class="page-content">
                    @RenderBody()
                </div>
            </main>
        </div>

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/jqueryui")
        @Scripts.Render("~/bundles/mdl")
        @Scripts.Render("~/bundles/global")
        @RenderSection("scripts", required: false)
    </body>
</html>
