<!DOCTYPE html>
<html lang="ru">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>@ViewBag.Title — Admin</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700" type="text/css">
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body class="admin mdl-color--optic-white">
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header mdl-layout--fixed-tabs">
        <header class="mdl-layout__header">
            <a href="/" class="mdl-layout__drawer-button"><i class="material-icons">arrow_back</i></a>
            <div class="mdl-layout__header-row">
                <span class="mdl-layout-title mdl-layout--large-screen-only">@ViewBag.Title</span>
            </div>
            @if (ViewBag.PageId == KPaTS.Core.PageID.PAGE_INDEX)
            { 
            <div class="mdl-layout__tab-bar mdl-js-ripple-effect">
                <a href="#fixed-tab-1" class="mdl-layout__tab is-active">Spaces</a>
                <a href="#fixed-tab-2" class="mdl-layout__tab">Subjects</a>
                <a href="#fixed-tab-3" class="mdl-layout__tab">Professors</a>
            </div>
            }
        </header>
        <main class="mdl-layout__content">
            @RenderBody()
        </main>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/mdl")
    @Scripts.Render("~/bundles/global")
    @RenderSection("scripts", required: false)
</body>
</html>
